body {
    background-color: hsl(0, 0%, 31%);
}

.to-do-list {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background-color: hsl(178, 100%, 32%);
    margin-left: 10px;
}

.add-button:hover {
    background-color: hsl(178, 100%, 22%);
}

.delete-button {
    background-color: hsl(347, 73%, 29%);
}

.delete-button:hover {
    background-color: hsl(347, 73%, 19%);
}

.move-button {
    background-color: hsl(0, 0%, 78%);
}

.move-button:hover {
    background-color: hsl(0, 0%, 68%);
}

input[type="text"] {
    font-size: 1.7rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: black;
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.mark-completed-button{
    width:30px;
    height:30px;
    background:white;
    border:2px solid #555;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 1000px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}
.not-completed {
    color: #222;
}